.hero_body {
    margin-top: 7.1rem;
}

.hero_des {
    font-size: 6rem;
    line-height: 99.24px;
}

.Typewriter__cursor{
    display: none;
}

.hero_card {
    padding-left: 4.375rem;
    padding-right: 4.375rem;
}

.heros_btn {
    padding-left: 2.719rem;
    padding-right: 2.719rem;
    box-shadow: 0px 8px 4px 0px #00000040;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.hero_btn {
    box-shadow: 0px 8px 4px 0px #00000040;
}

.hero_btn:hover {
    animation: pulses 2s infinite;
}

@keyframes pulses {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.1);
    }
}

.hero_video {
    padding-left: 8.188rem;
    padding-right: 8.188rem;
    padding-bottom: 3.75rem;
}

.hero_video_title {
    font-size: 2.75rem;
}

.hero-list-item {
    position: relative;
    padding-left: 0.9em;
}

.hero-list-item::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #2a2a2a;
    font-size: 1.4em;
    line-height: 1;
}

.hero_bg_img {
    background-image: url("/images/hero/video.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 441px;
    border-radius: 10px;
}

.play-button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.desp_width{
    width: 55rem;
}

/* media query */

@media (min-width: 1600px) and (max-width: 1630px) {
    .hero_video_title {
        font-size: 2.70rem;
    }
}

@media (min-width: 1500px) and (max-width: 1600px) {
    .hero_des {
        font-size: 5.6rem;
        line-height: 99.24px;
    } 
    .hero_video_title {
        font-size: 2.50rem;
    }
}

@media (min-width: 1400px) and (max-width: 1500px) {
    .hero_des {
        font-size: 5.2rem;
        line-height: 99.24px;
    } 
    .hero_video_title {
        font-size: 2.30rem;
    }
}

/* xxl */

@media (min-width: 1200px) and (max-width: 1400px) {
    .hero_des {
        font-size: 4.6rem;
        line-height: 99.24px;
    } 
    .desp_width{
        width: 50rem;
    }
    .hero_video_title {
        font-size: 1.9rem;
    }
}

/* xxl */

@media (min-width: 992px) and (max-width: 1200px) {
    .hero_des {
        font-size: 3.6rem;
        line-height: 60.24px;
    } 
    .desp_width{
        width: 40rem;
    }
    .hero_video_title {
        font-size: 1.9rem;
        text-align: center;
    }
}

/* lg */

@media (min-width: 768px) and (max-width: 992px) {
    .hero_des {
        font-size: 2.7rem;
        line-height: 60.24px;
    } 
    .desp_width{
        width: 30rem;
    }
    .heros_btn {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .hero_video_title {
        font-size: 1.6rem;
        text-align: center;
    }
}

/* md */

@media (min-width: 576px) and (max-width: 768px) {
    .hero_des {
        font-size: 2rem;
        line-height: 40.24px;
    } 
    .desp_width{
        width: 30rem;
    }
    .heros_btn {
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }
    .hero_card {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    .hero_video {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    .hero_video_title {
        font-size: 1.5rem;
        text-align: center;
    }
}

/* sm */

@media (min-width: 300px) and (max-width: 576px) {
    .hero_des {
        font-size: 1.6rem;
        line-height: 40.24px;
    } 
    .desp_width{
        width: 21rem;
    }
    .hero_card {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .heros_btn {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .hero_video {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .hero_video_title {
        font-size: 1.3rem;
        text-align: center;
    }
}