.understand_body {
    padding-top: 2.813rem;
    padding-left: 8.188rem;
    padding-right: 8.188rem;
    padding-bottom: 3.5rem;
}

.under_body {
    border-radius: 0px 0px 20px 20px;
}

.under_margin {
    margin-top: 23.5rem;
}

.under_margin1 {
    margin-top: 0rem;
}

.desp_body {
    padding-top: 4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 4.7rem;
}

.understand_title {
    font-size: 2rem;
    line-height: 2rem;
}

.understand_circle {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
